Source: dxrt-driver-dkms
Section: kernel
Priority: optional
Maintainer: Lee Huseong <hslee@deepx.ai>
Build-Depends: debhelper (>= 12), cmake
Homepage: https://deepx.ai

Package: dxrt-driver-dkms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dkms
Homepage: https://deepx.ai
Description: A DEEPX NPU Driver

